<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RandomForrest Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <div class="login">
        <div class="text">
            <h1>Predict the Species</h1>
        </div>
    
        <div class="form">
            <form action="{{ url_for('predict')}}"method="post">
                <input type="text" name="Weight" placeholder="Weight" required="required" />
                <input type="text" name="Length1" placeholder="Length1" required="required" />
                <input type="text" name="Length2" placeholder="Length2" required="required" />
                <input type="text" name="Length3" placeholder="Length3" required="required" />
                <input type="text" name="Height" placeholder="Height" required="required" />
                <input type="text" name="Width" placeholder="Width" required="required" />
    
                <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
            </form>
        </div>
        <div class="sol">
            {{ prediction_text }}
        </div>
       
     </div>
</body>
</html>